@import '../assets/fonts/decima-mono.css';

:root {
  --text-color: #333;
  --background-color: #fff;
}

html {
  background-color: var(--background-color);
}
body {
  margin: 0;
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: 'DecimaMono', system-ui;
}

.twitter-tweet.twitter-tweet-rendered {
  margin-left: auto;
  margin-right: auto;
}

