@use 'three-dots' with (
  $dot-color: #00AEE9,
  $dot-width: 8px,
  $dot-height: 8px,
);   
@import '../assets/fonts/nunito.css';

:root {
  --text-color: #758796;
  --background-color: #fff;


  --toastify-color-info: #00AEE9;
}

html {
  background-color: var(--background-color);
}

input {
  color: var(--text-color)
}

button {
  color: var(--text-color);
  font-family: 'NunitoRegular', system-ui;
}

body {
  margin: 0;
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: 'NunitoRegular', system-ui;
}

.twitter-tweet.twitter-tweet-rendered {
  margin-left: auto;
  margin-right: auto;
}

