.login {
  display: flex;
  flex-direction: column;

  button {
    margin-top: 1.5em;
    cursor: pointer;
    background-color: #288bc2;
    width: 10em;
  }

  min-height: 86vh;
  padding: 2em 0 2em 0;
  box-sizing: border-box;

  &__header {
    margin-top: 5em;
    display: flex;
    justify-content: center;
    align-self: center;
  }

  &__logo {
    width: 3em;
    padding-right: 0.5em;
  }

  &__title {
    font-weight: 900;
    color: white;
    margin: 0;
  }

  &__subtitle {
    color: white;
    font-weight: 600;
    text-align: center;
    margin-top: 2em;
  }

  &__body {
    margin-top: 2em;
    text-align: center;
    align-items: center;
  }

  &__phone_input {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    align-content: center;
    text-align: center;
  }


}
