MNEMONIC="test test test test test test test test test test test junk"
LOCAL_MNEMONIC="test test test test test test test test test test test junk"
TEST_MNEMONIC="test test test test test test test test test test test junk"
TESTNET_URL="https://api.s0.b.hmny.io"
MAINNET_URL="https://api.harmony.one"
S1_URL="https://s1.api.harmony.one"
REVENUE_ACCOUNT=0x0000000000000000000000000000000000000000

# local
#BASE_RENTAL_PRICE_ETH=1
#RENTAL_PERIOD_DAYS=0.01
#PRICE_MULTIPLIER=2

# s0
#BASE_RENTAL_PRICE_ETH=100
#RENTAL_PERIOD_DAYS=90
#PRICE_MULTIPLIER=2
